In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd 
import datetime # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

df=pd.read_csv('../input/dates_out.csv')
df=df.head(400)

/kaggle/input/dates_out.csv

In [2]:
for i in range(0,400):
    x=df['sentence'][i]
    x=x.lower()
    df['sentence'][i]=x
df

,sentence,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 288,Unnamed: 289,Unnamed: 290,Unnamed: 291,Unnamed: 292,Unnamed: 293,Unnamed: 294,Unnamed: 295,Unnamed: 296,Unnamed: 297
0,seventeenth july,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,eight april,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24 september,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 may,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25 may,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,22nd of march 1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,2nd of april 2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,nineth of april 2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,three of december 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,five of august 2032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import re
dic={'jan ':'1','january':'1','feb ':'2','february':'2','mar ':'3','march':'3','apr ':'4','april':'4','may':'5','jun ':'6','june':'6','jul ':'7','july':'7','aug ':'8','august':'8','sep ':'9','sept ':'9','september':'9','oct ':'10','october':'10','nov ':'11','november':'11','dec ':'12','december':'12'}

dates={'one':'1','first':'1','second':'2','two':'2','three':'3','third':'3','four':'4','fourth':'4','five':'5','fifth':'5','six':'6','sixth':'6','seven':'7','seventh':'7','eight':'8','eighth':'8','nine':'9','nineth':'9','ten':'10','tenth':'10','eleven':'11','twelve':'12','twelfth':'12','thirteen':'13','thirteenth':'13','fourteenth':'14','fifteenth':'15','sixteenth':'16','fourteen':'14','fifteen':'15','sixteen':'16','seventeen':'17','seventeenth':'17','eighteen':'18','eighteenth':'18','nineteen':'19','nineteenth':'19','twenty':'20','twenty one':'21','twenty first':'21','twenty second':'22','twenty two':'22','twenty third':'23','twenty three':'23','twenty four':'24','twenty five':'25','twenty six':'26','twenty seven':'27','twenty eight':'28','twenty nine':'29','thirty':'30','thirty first':'31','thirty one':'31'}

In [4]:
#s="13th dec "
t=0
for ii in df['sentence']:
    ii=ii+" "
    #print("iiiiiiiiii   ",ii)
    prop=""
    date_int=0
    month_int=0

    date_num=re.search(r'(^([0-9]{1,2}))',ii)
    if date_num:
        a=date_num.group(1)
        #print(a)
        date_int=int(a)
        prop=prop+a+"-"
        
    date_text=re.search(r'(^((one|first|second|two|three|third|four|fourth|five|fifth|six|sixth|seven|seventh|eighth|eight|nine|nineth|ten|tenth|eleven|eleventh|twelve|twelfth|thirteen|thirteenth|fourteenth|fifteenth|sixteenth|seventeenth|fourteen|fifteen|sixteen|seventeen|eighteen|eighteenth|nineteen|nineteenth|twenty|twenty\sone|twenty\sfirst|twenty\ssecond|twenty\stwo|twenty\sthird|twenty\sthree|twenty\sfour|twenty\sfive|twenty\ssix|twenty\sseven|twenty\seight|twenty\snine|thirty|thirty\sfirst|thirty\sone)?(\s)?(-|\s)?(st|nd|rd|th|of)?(\s)?(jan\s|january|feb\s|february|mar\s|march|apr\s|april|may|jun\s|june|jul\s|july|aug\s|august|sep\s|sept|september|oct\s|october|nov\s|november|dec\s|december)))',ii)
    if date_text:
        date_out=date_text.group(3)
        for l,m in dates.items():
            if l==date_out:
                prop=prop+m+"-"
        
        
        
    month=re.search(r'(jan\s|january|feb\s|february|mar\s|march|apr\s|april|may|jun\s|june|jul\s|july|aug\s|august|sep\s|sept\s|september|oct\s|october|nov\s|november|dec\s|december)',ii)
    if month:
        b=month.group(1)
        #print("bbbbb",b)
        for i,j in dic.items():
            #print("iijjjjjjjjjjjj",i)
            if b==i:
                prop=prop+j+'-'
                month_int=int(j)
                #print(prop)
                break
    year=re.search(r'(([0-9]{1,4}(\s))$)',ii)
    if year:
        t=1
        yearr=year.group(0)
        prop=prop+yearr
        print(prop)
    if t!=1:
        monthh = datetime.datetime.now().strftime("%m")
        mon=int(monthh)
        yeear = datetime.datetime.now().strftime("%Y")
        yr=int(yeear)
        if mon>month_int:
            yr=yr+1
            yrr=str(yr)
            prop=prop+yrr
            print(prop)
        else:
            prop=prop+yeear
            print(prop)

17-7-2020
8-4-2020
24-9-2020
1-5-2020
25-5-2020
12-7-2020
13-5-2020
23-1-2020
1-11-2020
19-2-2020
15-4-2020
16-10-2020
8-4-2020
30-11-2020
12-8-2020
18-6-2020
21-2-2020
3-11-2020
10-8-2020
28-2-2020
13-11-2020
6-12-2019
21-3-2020
18-9-2020
18-11-2020
19-7-2020
23-11-2020
23-4-2020
6-8-2020
27-3-2020
11-10-2020
3-9-2020
22-6-2020
28-1-2020
16-1-2020
28-1-2020
26-9-2020
19-12-2019
23-8-2020
19-5-2020
6-12-2019
11-9-2020
1-5-2020
22-1-2020
6-1-2020
30-8-2020
5-2-2020
4-8-2020
14-5-2020
18-8-2020
8-8-2020
14-4-2020
15-12-2019
5-12-2019
21-2-2020
3-9-2020
20-8-2020
12-1-2020
11-12-2019
5-2-2020
3-11-2020
7-12-2019
10-12-2019
3-10-2020
8-9-2020
19-1-2020
3-4-2020
7-6-2020
15-9-2020
28-2-2020
5-9-2020
7-9-2020
18-12-2019
3-3-2020
25-4-2020
4-8-2020
15-7-2020
5-10-2020
22-6-2020
2-11-2020
1-8-2020
23-3-2020
30-1-2020
24-6-2020
1-4-2020
8-1-2020
11-11-2020
17-10-2020
25-6-2020
11-12-2019
21-2-2020
19-1-2020
25-8-2020
5-9-2020
18-4-2020
8-12-2019
4-6-2020
5-10-2020
29-11-2020
23-2-2020
6-11-2020
21-10-2020
17-4-2020
5-6-2020
21-9-2020
8-12-2019
9-6-2020
10-11-2020
14-10-2020
9-7-2020
23-12-2019
3-2-2020
27-7-2020
26-7-2020
7-7-2020
23-3-2020
22-6-2020
7-10-2020
9-8-2020
10-1-2020
21-12-2019
20-9-2020
5-3-2020
19-12-2019
22-2-2020
19-5-2020
18-6-2020
15-6-2020
9-1-2020
19-9-2020
21-3-2020
4-9-2020
6-10-2020
3-9-2020
10-1-2020
24-6-2020
2-4-2020
1-3-2020
15-8-2020
8-1-2020
19-6-2020
2-11-2020
1-10-2020
21-10-2020
3-10-2020
10-11-2020
18-2-2020
25-8-2020
23-10-2020
3-3-2020
20-9-2020
14-1-2020
15-6-2020
7-1-2020
30-10-2020
27-2-2020
16-7-2020
12-10-2020
18-8-2020
19-7-2020
16-7-2020
23-6-2020
5-1-2020
3-3-2020
8-3-2020
21-6-2020
18-3-2020
19-4-2020
24-3-2020
16-10-2020
24-1-2020
9-7-2020
20-7-2020
2-1-2020
23-1-2020
30-4-2020
29-1-2020
5-1-2020
25-8-2020
24-10-2020
28-12-2019
13-1-2020
1-10-2020
24-5-2020
19-10-2020
9-2-2020
14-6-2020
3-2020
22-11-2020
29-6-2020
13-10-2020
7-3-2020
1-1-2020
13-6-2020
10-3-2020
18-1-2020
16-2-2020
12-1-2020
19-8-2020
26-2-2020
8-4-2039
24-12-2020
3-6-2011
11-10-2010
3-2-2022
5-10-2001
29-4-2023
29-10-1999
23-8-2012
30-10-2028
20-12-2193
10-8-2022
7-10-2014
30-6-2022
10-9-2021
24-2-2015
13-10-2024
2-4-2027
22-1-2004
21-9-2033
2-6-2027
6-6-2002
6-6-2019
18-8-2003
2-3-1889
5-6-2002
9-12-2048
8-6-2018
8-6-2032
9-3-2048
17-2-2022
13-5-2025
8-12-2021
15-12-2023
2-4-2003
14-1-2039
13-3-1999
16-3-2019
23-1-2029
21-7-2033
1-6-2002
2-12-2015
21-12-2048
26-4-2029
13-3-2100
9-2-2015
12-2-2003
1-3-2028
8-1-2010
4-5-2023
4-2-2016
26-6-2013
26-3-2026
23-2-2193
5-5-2039
30-8-2027
31-12-2100
27-12-2018
1-12-2193
5-10-2100
13-9-2028
23-5-1998
14-9-2010
12-8-2013
10-2-2003
22-5-2033
17-9-2015
10-6-2193
10-10-2016
2-10-2022
28-12-2025
22-1-2016
6-6-2017
26-3-2021
3-3-2017
10-11-2048
11-2-2193
4-11-2039
8-11-2031
26-5-2020
19-4-2028
21-6-2019
22-7-2017
13-6-2032
16-5-2013
25-7-2011
2-12-2193
31-6-2027
29-9-2022
1-2-2012
7-12-2026
7-3-1999
3-8-2010
7-12-2193
10-11-2015
16-6-2193
7-12-2015
10-10-1889
27-4-2028
19-8-2019
19-10-2029
14-6-2004
17-9-2014
2-8-2022
22-6-2010
13-10-2014
29-10-2003
4-4-2003
10-4-2018
16-6-1999
13-8-2040
6-1-2027
17-6-2013
12-2-2029
8-12-2001
12-5-2022
18-11-2021
18-2-2002
19-12-2023
28-1-2003
25-12-2032
15-9-2026
5-3-2039
13-8-2019
7-12-2027
2-11-2022
21-11-2019
7-6-2015
8-2-2048
10-6-2039
3-10-2023
5-8-2028
13-6-2039
7-2-2004
14-1-2012
1-2029
19-12-2027
1-1998
25-11-2030
18-3-2013
5-6-2003
1-12-2017
13-2-2016
13-8-2032
7-9-2021
12-2019
14-8-2002
26-10-2015
19-3-2022
30-2-2029
26-10-2048
2-2040
16-10-2018
13-10-1998
13-1-2015
14-8-2002
5-6-1998
28-9-2027
6-10-2039
18-3-2021
11-3-2039
16-10-2022
23-10-2001
26-3-2030
30-2-2011
7-8-2002
16-3-2015
19-5-2048
23-8-2100
9-2010
16-10-2015
11-9-2026
6-7-2027
22-11-2023
4-3-2017
16-2-2023
5-5-2027
2-1-2048
24-8-2031
12-12-2050
23-8-2004
22-7-2040
18-7-2026
8-7-2014
7-5-2032
2-1-2021
11-1-2040
14-5-2032
8-10-2022
1-2021
18-3-1999
25-3-2050
10-7-2040
24-3-1998
24-1-2100
22-3-1998
2-4-2027
9-4-2027
3-12-2023
5-8-2032